
<!DOCTYPE html>
<html>
  <head>
    <title>error</title>
    <%- include('partial/head')%>
    <style>
       html,body{height: 100vh;margin: 0;}
  body{background: linear-gradient(#ff512f, #DD2476);background-repeat: no-repeat;
  background-position: center;overflow: hidden;}
  h1{font-size: 30px;}
  img{margin-top: 20vh;}
    </style>
  </head>
  <body>
    <!--nav-->
   
   
    <!--nav end-->
    <div class="container-fluid">
        
      <div class="row">
        <div class="col-md-6 col-xs-auto col-sm-auto ml-auto mr-auto">
        <img class="img img-responsive" src="images/404.svg" width="100%">
        <h1><a href='/' class="btn">go to home</a></h1>
        </div>
        </div>
      </div>
     
      
  </body>
</html>
